---
import Layout from '../layouts/Layout.astro';
---

<Layout title='Error 404: Recurs no trobat'>
  <div class='flex flex-col justify-center items-center'>
    <img src='../../src/assets/img/404Error.webp' alt='Error 404' />
  </div>
</Layout>
