---
import Layout from '../layouts/Layout.astro';

console.log('Pàgina about');
---

<Layout title='Sobre el projecte'>
  <h2>Sobre el projecte</h2>
  <p>
    Aquest projecte està realitzat amb Astro i pretén informar sobre els
    llançaments dels cohets de SpaceX
  </p>
</Layout>
