---
import HeaderButton from './HeaderButton.astro';
import IconaCohet from './icones/IconaCohet.astro';
import IconaInfo from './icones/IconaInfo.astro';
import IconaClockDown from './icones/IconaClockDown.astro';
console.log('Espai Js a Header');
---

<header class='py-8 px-4 mx-auto max-w-xl lg:py-16 lg:px-16'>
  <div class='mx-auto text-center mb-8 lg:mb-16'>
    <h2 class='mb-4 text-5xl tracking-tight font-extrabold'>
      Cohets SpaceX 🚀
    </h2>
    <p class='font-light text-gray-500 sm:text-xl dark:text-gray-400'>
      Informació sobre els llançaments de SpaceX
    </p>
  </div>
  <nav
    class='flex flex-col items-center justify-between w-full text-center md:flex-row'>
    <HeaderButton href='/'>
      Últims llançaments
      <IconaCohet slot='abansText' />
    </HeaderButton>
    <HeaderButton href='/antics'>Antics llançaments
    <IconaClockDown slot='abansText' />
    </HeaderButton>
    <HeaderButton href='/about'>
      Sobre el projecte<IconaInfo slot='abansText' />
    </HeaderButton>
  </nav>
</header>
